<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ SITENAME }}</title>
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/styles.css" type="text/css" media="all" charset="utf-8">
</head>
<body>
  <ul>
  {% for page in pages: %}
    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </li>  
  {% endfor %}
  </ul>
</body>
</html>